* {
    margin: 0%;
    padding: 0;
}


body {
    min-height: 100vh;
    max-height: 100%;
    background-color: black;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}